extends layout

block content
  h1= title
  p Welcome to #{title}
  div(style="text-align: center")
    button(style="font-family: monospace; font-size: 3em",onclick="window.Test.testObj.greet();") window.Test.testObj.greet();